<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskApp</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>FlaskTODO</h1>
    <hr>
    <div class="content">
        <form action="/" method="post">
            <p>
                <label>Todo:
                    <input type="text" name="content" placeholder="Todo Content">
                </label>
            </p>

            <div>
                <p>Priority:</p>
                <p>
                    <label><input name="priority" required type="radio" value="Important">Important</label>
                </p>
                <p>
                    <label><input name="priority" required type="radio" value="Unimportant">Unimportant</label>
                </p>
                <p>
                    <label><input name="priority" required type="radio" value="Normal">Normal</label>
                </p>
            </div>
            
            <p><button type="submit">Submit</button></p>
        </form>

        <hr>
        {% for todo in todos %}
            <div class="todo">
                <p class="{{ todo.priority }}">
                    {{ todo.content }} <em>({{ todo.priority }})</em>
                    {% if todo.complete %}
                        <strong>- Complete</strong>
                    {% else %}
                        <strong>- Not Complete</strong>
                        <form method="POST" action="{{ url_for('mark_complete', id=todo._id) }}">
                            <button type="submit">Mark as Complete</button>
                        </form>
                    {% endif %}
                </p>

                <form method="POST" action="{{ url_for('delete', id=todo._id) }}">
                    <input type="submit" value="Delete Todo" onclick="return confirm('Are you sure you want to delete this entry?')">
                </form>
            </div>
        {% endfor %}
    </div>
</body>
</html>
